<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{ fragments/imports :: head }"></div>
    <title>Dashboard</title>
</head>

<body class="bg-body-secondary" style="margin-top: 120px;">
    <header>
        <div th:replace="~{ fragments/navbar :: navbar }"></div>
        <div th:replace="~{ fragments/offcanvas :: offcanvas }"></div>
    </header>

    <main>
        <div class="container bg-white p-3 rounded-3">
            <div class="row">
                <div class="col-6">
                    <h5 class="fw-light">Songs in database:</h5>
                    <p style="font-size: 3rem;" class="fw-bold" th:text="${songs}"></p>
                    <h5 class="fw-light">Genres:</h5>
                    <p style="font-size: 3rem;" class="fw-bold" th:text="${genres}"></p>
                </div>
                <div class="col-6">
                    <h5 class="fw-light">Albums in database:</h5>
                    <p style="font-size: 3rem;" class="fw-bold" th:text="${albums}"></p>
                </div>
            </div>
        </div>
        <div class="container bg-white p-3 rounded-3 mt-3 mb-5">
            <h3 class="mb-5">What do you need to do today?</h3>
            <div class="row mt-5">
                <div class="col-6">
                    <h5 class="fw-light">View the list of all albums</h5>
                    <a th:href="@{/albums}"><button class="btn btn-sm bg-primary-subtle">View</button></a>
                </div>
                <div class="col-6">
                    <h5 class="fw-light">Create new album</h5>
                    <a th:href="@{/albums/create}"><button class="btn btn-sm bg-primary-subtle">Create</button></a>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-6">
                    <h5 class="fw-light">View the list of all songs</h5>
                    <a th:href="@{/songs}"><button class="btn btn-sm bg-primary-subtle">View</button></a>
                </div>
                <div class="col-6">
                    <h5 class="fw-light">Search Album</h5>
                    <form method="GET" th:action="@{/albums}">
                        <input type="text" class="form-control" placeholder="Search..." name="title">
                        <button class="btn btn-sm bg-primary-subtle mt-3" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <footer>

    </footer>
    <!-- Bootstrap js -->
    <div th:replace="~{ fragments/imports :: bsScript }"></div>
</body>

</html>